<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <script src="~/Scripts/JavaScript.js"></script>
    <script src="~/Scripts/JavaScript2.js"></script>
</head>
<body>
    <form action="/LogIn/Changepasswordform" method="post" onsubmit="return changepassword()">
        Current Password:<input id="currentpassword" name="currentpassword" type="password" /><br /><br />
        New Password:<input id="password" name="password" type="password" /><br /><br />
        Confirm Password:<input id="password2" name="password2" type="password" /><br />
        <input value="Change Password" type="submit" />
    </form>
</body>
</html>
