<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <script src="~/Scripts/JavaScript.js"></script>
</head>
<body>
@ViewBag.Hash
</body>
</html>