<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <script src="~/Scripts/JavaScript.js"></script>
</head>
<body>
    <form action="/Passes/BuyNow" method="post" onsubmit="return validatepassword()">
        Full Name:<input id="username" name="username" type="text" /><br /><br />
        Address 1:<input id="address1" name="address1" type="text" /><br />
        Address 2:<input id="address2" name="address2" type="text" /><br />
        City:<input id="city" name="city" type="text" /><br />
        State:<input id="state" name="state" type="text" /><br />
        Zip Code:<input id="city" name="city" type="text" /><br />
        Country:<input id="country" name="country" type="text" /><br />
        <input value="Purchase" type="submit" />
    </form>
   



</body>
</html>