<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <script src="~/Scripts/JavaScript2.js"></script>
</head>
<body>
    <form action="/Employee/Welcome" method="post" onsubmit="return validateemployee()">
        Username:<input id="username" name="username" type="text" /><br /><br />
        Password:<input id="password" name="password" type="password" /><br />
        <input value="Log In" type="submit" />
    </form>
    



</body>
</html>