<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <script src="~/Scripts/JavaScript2.js"></script>
</head>
<body>
    <form action="/Home/forgetpasswordcode" method="post" onsubmit="return checkforgetpassword()">
        Password:<input id="password" name="password" type="password" /><br /><br />
        Confirm Password:<input id="password2" name="password2" type="password" /><br />
        <input value="Create Account" type="submit" />
    </form>
</body>
</html>
