<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <script src="~/Scripts/JavaScript2.js"></script>
</head>
<body>
    <form action="/Home/forgetpasswordform" method="post" onsubmit="return forgetpassword()">
        Username:<input id="username" name="username" type="text" /><br /><br />
        <input value="Submit" type="submit" />
    </form>
</body>
</html>